#!/usr/bin/gjs

imports.package.init({
  name: '@PACKAGE_SHORTNAME@',
  version: '@PACKAGE_VERSION@',
  prefix: "@PREFIX@",
  libdir: "@PREFIX@/lib",
  datadir: "@PREFIX@/share",
});

imports.package.run(imports['@PACKAGE_NAME@']);
