.text-h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.text-h2 {
  font-size: 1.8em;
  font-weight: 300;
}

.text-h3 {
  font-size: 1.25em;
}

.text-h4 {
  font-weight: 700;
}

/* Touchégg not installed view */
.download-button {
  padding: 10px 20px;
}

/* MainView */

.main-view-content {
  padding: 0 12px;
}

.gestures-stack-switcher label {
  min-width: 50px;
}
