.glv  {
  padding: 20px;
}

.glv row {
  padding: 10px;
}


/* Row items */
.row-item {
  padding: 10px;
  border-radius: 5px;
}

.row-item-gesture-type {
  color: #FFFFFF;
  background-color: #634484;
}
.row-item-gesture-direction {
  color: #FFFFFF;
  background-color: #C17D11;
}

.row-item-number-of-fingers {
  color: #FFFFFF;
  background-color: #315781;
}

.row-item-action-type {
  color: #FFFFFF;
  background-color: #28BCA3;
}
