[Desktop Entry]
Name=Touchégg GUI
GenericName=Multi-touch Gestures
Comment=Configure Touchégg multi-touch gestures
Categories=Utility;
Exec=@PACKAGE_NAME@
Terminal=false
Type=Application
Keywords=Touchégg;Multi-touch;Gestures;Touchpad;Trackpad;Touchscreen;
